<html>
	<head>
		<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/index.css') }}" />
		<title>LUXIR</title>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
                // alert('hello')
			});
		</script>
	</head>
	<body>
		<img src="/static/images/Maple_A_180519_023848.jpg" >
<!--         <form method="POST" enctype="multipart/form-data" action="/detection/">
            <input type="hidden" name="lat" value="0" />
            <input type="hidden" name="lon" value="0" />
            <input type="file" name="inf">
            <input type="hidden" />
            <input type="file" name="vis">
            <input type="hidden" />
            <input type="file" name="bnd">
            <button type="submit">Submit</button>
        </form> -->
	</body>
</html>